{% extends "layout.html" %} {% block container %}
 
<div class="py-32 relative overflow-x-auto sm:rounded-lg">
  
    <a href="nuevoMaestro"
    class="bg-green-500 text-white px-4 py-2 rounded flex items-center gap-2 hover:bg-green-600">
    <svg
      class="w-6 h-6 text-white-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    </svg>
    Nuevo
  </a>
    

  <table class="py-2 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Nombre</th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">Apaterno</div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">Especialidad</div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">Correo</div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">Editar</div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">Detalles</div>
        </th>
        <th scope="col" class="px-6 py-3">
          <div class="flex items-center">Eliminar</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for maestro in maestros %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ maestro.nombre }}
        </th>
        <td class="px-6 py-4">{{ maestro.apellidos }}</td>
        <td class="px-6 py-4">{{ maestro.especialidad }}</td>
        <td class="px-6 py-4">{{ maestro.email }}</td>

        <td class="px-6 py-4 text-right">
          <a href="{{ url_for('maestros.modificar_maestro', matricula=maestro.matricula) }}"
             class="flex items-center gap-2 bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600">
            Editar
          </a>
        </td>

        <td class="px-6 py-4 text-right">
          <a href="{{ url_for('maestros.detalles_maestros', matricula=maestro.matricula) }}"
             class="flex items-center gap-2 bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-600">
            Detalles
          </a>
        </td>

       <td class="px-6 py-4 text-right">
  <a
            href="maestros/eliminar?matricula={{ maestro.matricula }}"
            class="flex items-center gap-2 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
            <svg
              class="w-6 h-6 text-white-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
            </svg>
 
            Eliminar
          </a>
</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 
{% endblock %}